<h1>Stupid Coaching</h1>
<%= @question %>
<p class="signature">-You</p>

<br>
<div class="yellow-box">
<%= @answer %>
<p class="signature">-Your coach</p>
</div>

<br>

<%= link_to "Ask another question", "/ask" %>
