// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: black;
  background: white;
}


.yellow-box{
  background: #F5F5DC;
}
